<section class="bg-black text-gray-300 py-20 px-6 relative">
  <img src="/polygon.svg" alt="Truaton Logo" class="w-[300px] mx-auto absolute rotate-45 opacity-70 -z-10" />
  <div class="max-w-5xl mx-auto text-center">
    <h2 class="text-5xl font-bold  mb-6 bg-gradient-to-b from-zinc-300 to-zinc-700 bg-clip-text text-transparent">Who We Are</h2>
    <p class="text-lg leading-[50px] mb-4">
      <span class="text-white font-semibold">Truaton Tech</span>, offers IT services and IT consultancy, specializes in creating innovative solutions for businesses. We are passionate about technology and believe in the power of software to transform the world. Our internship program is just one of the ways in which we are investing in the future of the industry.
    </p>
    <p class="text-lg leading-[40px] font-extralight">
      At <span class="text-white font-semibold">Truaton Tech</span>,, we believe practical knowledge is the key to success in the tech industry. Our aim is to help students lacking basic skills by offering hands-on learning through live projects and real-world examples. </p>
  </div>
</section>
