<nav class="fixed top-0 z-[100] left-0 right-0 min-h-[60px] h-auto bg-zinc-950/60 text-white backdrop-blur px-6 flex items-center justify-between transition-all duration-300">
  <!-- Logo -->
  <a href="#truaton">
    <img src="/Truaton.png" alt="Truaton Logo" class="h-12" />
  </a>

  <!-- Hamburger Icon (Mobile Only) -->
  <button class="md:hidden block" (click)="toggleMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
         viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>

  <!-- Desktop Menu -->
  <ul class="hidden md:flex gap-4">
    @for (navEl of navArr; track $index) {
      <li>
        <a class="text-zinc-400 hover:text-white hover:bg-zinc-800 py-2 px-3 rounded transition-all duration-300" [href]="navEl.id">
          {{ navEl.label }}
        </a>
      </li>
    }
  </ul>
</nav>

<!-- Mobile Menu Overlay -->
@if (showMenu) {
  <div class="fixed inset-0 bg-black/40 backdrop-blur z-[99] flex flex-col pt-[60px] justify-center items-center transition-all duration-1000">
    <ul class="px-6 pb-4">
      @for (navEl of navArr; track $index) {
        <li class="py-2">
          <a class="block px-2 py-2 rounded hover:ml-3 hover:bg-zinc-950 transition-all duration-300 text-zinc-300 text-3xl"
             [href]="navEl.id" (click)="toggleMenu()">
            {{ navEl.label }}
          </a>
        </li>
      }
    </ul>
  </div>
}
