<section class="bg-black text-white py-20 px-6">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-5xl font-bold mb-4">Our Growing Online Community</h2>
    <p class="text-zinc-400 mb-10">
      Connect with a community of individuals who share your vision. Unlock boundless opportunities and foster personal
      growth as you pursue success.
    </p>


    <div class="flex w-full justify-evenly gap-16 flex-wrap">
      @for(myCard of cardArr; track $index){
        <app-card [cardData]="myCard"></app-card>
      }
    </div>
  </div>
</section>