<section class="bg-black text-white min-h-screen relative flex flex-col justify-center items-center text-center overflow-hidden" id="truaton">
  <img src="/polygon.svg" alt="Truaton Logo" class="w-[700px] mx-auto absolute opacity-70" />
  <img src="/polygon.svg" alt="Truaton Logo" class="w-[600px] mx-auto absolute rotate-45 opacity-70" />
  <img src="/Truaton.png" alt="Truaton Logo" class="w-44 pb-6 z-[20]" />
  <h1 class="text-4xl md:text-5xl font-bold mb-4 z-10 bg-gradient-to-b from-zinc-300 to-zinc-700 bg-clip-text text-transparent">Take Your Career to the Next Level with Truaton</h1>
  <p class="text-lg md:text-2xl mb-9 z-10 text-zinc-400">Join Our Exciting Journey</p>
  <a routerLink="/contact" class="bg-white z-10 text-black px-6 py-3 rounded-2xl cursor-pointer font-semibold hover:bg-gray-300 transition">Apply</a>
</section>

