<div class="fixed h-[100svh] w-[100vw] z-[100] top-0 flex items-center justify-center bg-black/70 animate-fadeIn">
    <div
        class="bg-zinc-800/80 p-8 max-h-[70svh] w-[90%] md:w-[60vw] rounded-3xl backdrop-blur-lg text-white shadow-2xl animate-scaleUp flex flex-col">
        @if (internship) {
        <h1 class="text-4xl font-bold mb-4 text-zinc-100">{{ internship.label }} Application</h1>
        <div class="overflow-y-auto ">

            <p class="text-lg text-zinc-300 mb-6">{{ internship.description }}</p>
            @if (internship.roles) {
            <div class="mb-4">
                <strong class="block text-lg text-zinc-200 mb-1">Roles:</strong>
                <ul class="list-disc list-inside text-base text-zinc-400 ml-4">
                    @for (role of internship.roles; track $index) {
                    <li class="mb-1">{{ role }}</li>
                    }
                </ul>
            </div>
            }
            @if (internship.responsibilities) {
            <div class="mb-6">
                <strong class="block text-lg text-zinc-200 mb-1">Responsibilities:</strong>
                <ul class="list-disc list-inside text-base text-zinc-400 ml-4">
                    @for (resp of internship.responsibilities; track $index) {
                    <li class="mb-1">{{ resp }}</li>
                    }
                </ul>
            </div>
            }
        </div>
        }

        <button (click)="closeApplication()"
            class="bg-zinc-200 text-black px-8 py-3 rounded-2xl font-semibold text-lg hover:bg-zinc-100 transition-all mt-2 shadow-md w-full">Proceed
            with Application</button>
    </div>
</div>