@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

.flexc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-gradient {
    background-image: linear-gradient(to bottom, #d4d4d8, #404040);
    /* from-zinc-300 to-zinc-700 */
    -webkit-background-clip: text;
    /* For WebKit browsers like Chrome, Safari */
    background-clip: text;
    color: transparent;
}

/* Custom black scrollbar for dark theme */
.custom-scroll, .overflow-auto, .overflow-y-auto {
  scrollbar-width: thin;
  scrollbar-color: #18181b #27272a; /* thumb, track */
}

.custom-scroll::-webkit-scrollbar, .overflow-auto::-webkit-scrollbar, .overflow-y-auto::-webkit-scrollbar {
  width: 8px;
  background: #27272a;
}
.custom-scroll::-webkit-scrollbar-thumb, .overflow-auto::-webkit-scrollbar-thumb, .overflow-y-auto::-webkit-scrollbar-thumb {
  background: #18181b;
  border-radius: 8px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover, .overflow-auto::-webkit-scrollbar-thumb:hover, .overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-scaleUp {
  animation: scaleUp 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}